<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <!--===============================================================================================-->
    </head>
    <body>
        <div style="text-align:center; width:500px; height:250px;line-height:425px;">
        </div>
        <div align="center" valign="center">
             <div align="center" class="contact1-pic js-tilt" data-tilt>
                <img src="{{ url_for('static', filename='images/img-03.png')}}" alt="IMG">
            </div>
            <div style="text-align:center; width:500px;line-height:100px;"class="wrap-input1 validate-input" data-validate = "Name is required">
                <input align="center" class="input1" type="text" id="search" name="search" placeholder="search" onkeypress="return runScript(event)">
                <span class="shadow-input1"></span>
            </div>
        </div>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/tilt/tilt.jquery.min.js')}}"></script>
        <script >
            var input = document.getElementById("search");
            input.addEventListener("keyup", function(event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    var search_text = document.getElementById('search');
                    var search_text = search_text.value;
                    window.open("search/"+search_text);
                }
            });

            $('.js-tilt').tilt({
                scale: 1.1
            })
        </script>
    </body>
</html>